{% extends 'Layout/base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <main class="h-screen bg-gray-700">
        <img src="https://placehold.co/1920x200/black/white" alt="...">
        <section class="w-1/2 mx-auto dark:text-white">
            Welcome to our e-store, your one-stop shop for all things fabulous! Discover a world of unique products and
            irresistible deals that will leave you spoilt for choice. Whether you're searching for trendy fashion,
            cutting-edge gadgets, or delightful home decor, we have it all in store for you. Start your shopping adventure
            now and indulge in the ultimate online shopping experience. Happy browsing!
        </section>
    </main>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}