{% extends 'Layout/base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <main class="h-screen bg-gray-200">
        <section class="w-1/2 mx-auto">
            Home page
        </section>
    </main>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}